$shadow: 0 0 10px #0000001a !default;
$border-radius: 16px !default;
$transition: 150ms ease-out !default;

$gap: 16px !default;

$card-padding: 16px !default;

$text-bubble-border-radius: calc(infinity * 1px) !default;
$text-bubble-padding: 4px 8px !default;
$text-bubble-shadow: var(--raiar-shadow-soft) !default;

$button-border-radius: calc(infinity * 1px) !default;
$button-padding: 8px 24px !default;

$details-padding: 8px 24px !default;

$fieldset-padding: 8px 16px !default;

$text-input-border-radius: 8px !default;
$text-input-padding: 4px 8px !default;

$alert-padding: 8px 16px !default;

$focus-outline-width: 2px !default;

$font-size-small: 0.75em !default;
