$shadow: 0 0 10px #0000001a !default;
$border-radius: 16px !default;
$transition-duration: 150ms !default;
$transition-easing: ease-out !default;
$transition: var(--raiar-transition-duration) var(--raiar-transition-easing) !default;

$gap: 16px !default;

$card-padding: 16px !default;

$text-bubble-border-radius: calc(infinity * 1px) !default;
$text-bubble-padding: 4px 8px !default;
$text-bubble-shadow: var(--raiar-shadow) !default;

$button-border-radius: calc(infinity * 1px) !default;
$button-padding: 8px 24px !default;

$details-padding: 8px 24px !default;

$fieldset-padding: 8px 16px !default;

$text-input-border-radius: 8px !default;
$text-input-padding: 4px 8px !default;

$alert-padding: 8px 16px !default;

$focus-outline-width: 2px !default;

$font-size-small: 0.75em !default;

$svg-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='15' viewBox='0 0 15 15' width='15'%3E%3Cg clip-rule='evenodd' fill='%23151515' fill-rule='evenodd'%3E%3Cpath d='m6.79289 7.5-3.14644-3.14645.7071-.7071 3.14645 3.14644 3.1464-3.14644.7072.7071-3.14649 3.14645 3.14649 3.1464-.7072.7072-3.1464-3.14649-3.14645 3.14649-.7071-.7072z'/%3E%3Cpath d='m3.64645 3.64645c.19526-.19527.51184-.19527.7071 0l3.14645 3.14644 3.1464-3.14644c.1953-.19527.5119-.19527.7072 0 .1952.19526.1952.51184 0 .7071l-3.14649 3.14645 3.14649 3.1464c.1952.1953.1952.5119 0 .7072-.1953.1952-.5119.1952-.7072 0l-3.1464-3.14649-3.14645 3.14649c-.19526.1952-.51184.1952-.7071 0-.19527-.1953-.19527-.5119 0-.7072l3.14644-3.1464-3.14644-3.14645c-.19527-.19526-.19527-.51184 0-.7071z'/%3E%3C/g%3E%3C/svg%3E") !default;
